<% layout("/layout/boilerplate") %>
  <body>
    <h1>WanderLust</h1>
    <ul>
      <% for(let listing of allLIsting){ %>
      <li><a href="/listing/<%= listing._id %>"><%= listing.title %></a></li>
      <% } %>
    </ul>
  </body>

