<% layout("/layout/boilerplate") %>
<body>
    <h2>Create a New Listing</h2>
    <form action="/listing" method="post">
        <input type="text" placeholder="Enter title" name="listing[title]"><br><br>
        <input type="text" placeholder="Enter description" name="listing[description]"><br><br>
        <input type="text" placeholder="Enter image utl/link" name="listing[image.url]"><br><br>
        <input type="text" placeholder="Enter image price" name="listing[price]"><br><br>
        <input type="text" placeholder="Enter image country" name="listing[country]"><br><br>
        <input type="text" placeholder="Enter image location" name="listing[location]"><br><br>
        <button>add</button>
    </form>
</body>
