<% layout("/layout/boilerplate") %>
<body>
  <br />
  <h2 style="text-align: center">Create a New Listing</h2>

  <div class="row">
    <div class="col-lg-8 mx-auto">
      <form action="/listing" method="post" class="needs-validation" novalidate>
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            placeholder="Enter title"
            name="listing[title]"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Title should be valid</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <input
            type="text"
            placeholder="Enter description"
            name="listing[description]"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Description should be valid</div>
        </div>
        <div class="mb-3">
          <label for="image.url" class="form-label">Image Link</label>
          <input
            type="text"
            placeholder="Enter image url/link"
            name="listing[image.url]"
            class="form-control"
          />
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              type="number"
              placeholder="1200"
              name="listing[price]"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Price should be valid</div>
          </div>
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input
              type="text"
              placeholder="Bangladesh"
              name="listing[country]"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Country Name should be valid</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            placeholder="Dhaka"
            name="listing[location]"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Location should be valid</div>
        </div>
        <button class="mb-3 btn btn-dark">add</button>
      </form>
    </div>
  </div>
</body>
